.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $navbar-height;
  background-color: $color-primary;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
